.header {
    text-align: center;
}

.header p {
    margin-top: -20px;
}

.boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

